{% extends 'base.html' %}
{% load static %}

{% block title %}My Blog{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock css_files %}

{% block content %}


  <section id="welcome">
    <header>
        <img src="{% static 'blog/images/jony.jpg' %}" alt="Jonibek - The Author Of This Blog">
        <h2>JONIBEK'S BLOG</h2>
    </header>
    <p>Hey, I am Jonibek and I love to blog about tech and the world!</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2> 
    <ul>
        {% include 'blog/includes/post.html' %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>I love Programming, I love helping people and I enjoy exploring new technologies in general! </p>
    <p>One of my goal is keep impoving as a developer...</p>
  </section>


{% endblock content %}

print("Hello world nima gpal")
